html {
	font-family: "Trebuchet MS", fantasy;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#image {
	position: fixed;
	top:0px;
	left:0px;
	z-index: -1;
	opacity: .1;
	background-image: url('Pictures/logo.png');
	background-repeat: repeat;
	background-size: 8% 16%;
	height: 100%;
	width: 100%;
}

#image *{
	opacity: 1;
}

.hallHeaders {
	font-size: 30px;
}

p {
	padding-left: 200px;
}

.column {
	float: left;
	padding-left: 200px;
	width = 30%;
	padding = 5px;
	padding-bottom: 10px;
}

.row::after {
	content = "";
	clear: both;
	display: table;
}

.hallList {
	padding-left: 150px;
}

.hallButton {
	padding: 50px;
	height: 400px;
	width: 600px;
	border: none;
  color: white;
	text-align: center;
	text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
	font-size: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: center;
}


.header{
	background-color: #eb2d3a;
	color: #ffffff
	padding: 5px;
}
.header:hover{
	background-color: #eb2d3a;
	color: #ffffff
	padding: 5px;
}

.menu li {
	padding: 8px;
	margin-bottom: 7px;
	background-color: #1161e0;
	color: #ffffff;
	text-align: center;
}

.menu li:hover {
	padding: 8px;
	margin-bottom: 7px;
	background-color: #0d47a3;
	color: #ffffff;
	text-align: center;
}

ul {
	padding-left: 10px;
	margin-top: 0px;
	float: left;
	width: 150px;
}

h1 {
	font-size: 75px;
	margin-bottom: 15px;
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

th,td,tr{
    border: 1px black solid;
    text-align: center;
}

td {
    min-width: 80px;

}

.filled {
    background-color: red;
}

#name {
    position:fixed;
    bottom: 0px;

}

#cycles {
    position: fixed;
    bottom:0px;
    left:200px;
}
